<div class="w3-container">
  
  <nav class="navbar navbar-default navbar-expand-lg sticky  navbar-light " >
    <a class="navbar-brand" style="color:black;" href="#">BeachAdvisor </a>
    
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
         <li class="nav-item ">
            <a class="nav-link" style="color:black" [routerLink]="['/beaches/list']">Lista spiagge<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color:black" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Modalità Admin</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              
              <a class="dropdown-item" [routerLink]="['/beaches/create']" href="#">Aggiungi spiaggia</a>
              
             </div>
  
          </li>
        </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col-md">
      <form class="card p-3" [formGroup]="beachForm" (ngSubmit)="insertBeach()">

        <!-- Name and province -->
        <div class="form-row">
          <!-- Example of form element written by hand-->
          <div class="form-group col-md-4">
            <label for="name">Nome</label>
            <input class="form-control" type="text" id="name" formControlName="name" placeholder="Inserisci un nome"
                   maxlength="30"/>
            <span *ngIf="submitted && beachForm.controls.name && beachForm.controls.name.errors" class="text-danger">
              Il nome è obbligatorio, max 30 caratteri.
            </span>
          </div>

          <!-- Custom element who takes some parameters and renders the component required -->
          <app-form-input
            class="form-group col-md-4" type="text" [group]="beachForm" label="Città" attributeName="city"
            placeholder="Città" [maxLength]="40" [submitted]="submitted"
            invalidFeedback="Campo richiesto, max 2 caratteri.">
          </app-form-input>

          <app-form-input
            class="form-group col-md-4" type="text" [group]="beachForm" label="Provincia" attributeName="province"
            placeholder="Provincia" [maxLength]="2" [submitted]="submitted"
            invalidFeedback="Campo richiesto, max 2 caratteri.">
          </app-form-input>
        </div>

        <!-- Latitude, longitude and orientation -->
        <div class="form-row">
          <app-form-input class="form-group col-md-4" type="number" [group]="beachForm" label="Latitudine"
                          attributeName="latitude" placeholder="Latitudine" [minValue]="-90" [maxValue]="90"
                          [submitted]="submitted" invalidFeedback="Campo richiesto">
          </app-form-input>
          <app-form-input class="form-group col-md-4" type="number" [group]="beachForm" label="Longitudine"
                          attributeName="longitude" placeholder="Longitudine" [minValue]="-90" [maxValue]="90"
                          [submitted]="submitted" invalidFeedback="Campo richiesto">
          </app-form-input>
          <app-form-input-select class="form-group col-md-4" [values]="orient" attributeName="orientation"
                                 label="Orientamento" [group]="beachForm">
          </app-form-input-select>
        
          <app-form-input-select class="form-group col-md-4" [values]="beachtypes" attributeName="beach_type"
          label="Tipologia di spiaggia" [group]="beachForm">
          </app-form-input-select>
        </div>

        <!-- Photo and preview -->
        <div class="form-row">
          <app-form-input
            class="form-group col-md-7" type="text" [group]="beachForm" label="Foto"
            attributeName="photo" placeholder="Indirizzo immagine foto" maxLength="255"
            [submitted]="submitted" invalidFeedback="Campo richiesto">
          </app-form-input>

          <div class="form-group col-md-5 text-right" style="margin-top: 2rem;">
            <div class="btn btn-outline-info cursor-pointer" (click)="previewPhoto(beachForm.value.photo)">Anteprima</div>
            <div class="btn btn-outline-danger cursor-pointer ml-2" (click)="previewPhoto(null)">Nascondi</div>
          </div>

          <!-- Photo preview -->
          <div class="form-group">
            <div class="col-md-6">
              <img *ngIf="pathPreview" [src]="pathPreview" class="img-fluid" alt="Anteprima spiaggia">
            </div>
          </div>
        </div>

        <h4 class="my-4">Altri servizi</h4>

        <div class="form-row">
          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="park"
                                   label="Parcheggio">
          </app-form-input-checkbox>

          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="food_service"
                                   label="Ristorazione">
          </app-form-input-checkbox>

          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="lifeguard"
                                   label="Salvataggio">
          </app-form-input-checkbox>

        </div>
        <div class="form-row">
          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="dogs_allowed"
                                   label="Cani ammessi">
          </app-form-input-checkbox>
          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="tobacconist"
          label="Tabacchino">
          </app-form-input-checkbox>
          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="summer_crowding"
          label="Affollamento estivo">
          </app-form-input-checkbox>
          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="disabled_access"
          label="Accesso ai disabili">
          </app-form-input-checkbox>
          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="sunbed_umbrella"
          label="Ombrelloni e/o lettini">
          </app-form-input-checkbox>
          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="wifi"
          label="Wi-fi">
          </app-form-input-checkbox>
          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="first_aid"
          label="Kit primo soccorso">
          </app-form-input-checkbox>
          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="toilet"
          label="Servizi igienici">
          </app-form-input-checkbox>
          <app-form-input-checkbox [group]="beachForm" class="form-check col-md-4 ml-4" attributeName="showers"
          label="Docce fredde e/o calde">
          </app-form-input-checkbox>
          
          <!-- <div class="form-check col-md-6 ">
            <input class="form-check-input" type="checkbox" formControlName="summer_crowding" id="summer_crowding">
            <label class="form-check-label" for="summer_crowding">Affollamento estivo</label>
          </div> -->
        </div>

        <div class="form-row mt-4">
          <button type="submit" class="btn btn-success ml-auto mr-1">Inserisci</button>
        </div>
      </form>
    </div>
  </div>
</div>
<footer>
  <div class="footer">
    <div class="contain">
    <div class="col">
      <h1>Azienda</h1>
      <ul>
        <li>Chi siamo</li>
        <li>Obbiettivi</li>
        <li>Servizi</li>
        
        </ul>
    </div>
    <div class="col">
      <h1>Prodotti</h1>
      <ul>
        <li>I nostri prodotti</li>
      </ul>
    </div>
    
    <div class="col">
      <h1>Contatti</h1>
      <ul>
        <li>Webmail</li>
        <li>Telefono</li>
        <li>Mappa del sito</li>
        
      </ul>
    </div>
    <div class="col">
      <h1>Supporto</h1>
      <ul>
        <li>Web live chat</li>
        <li>Apri ticket</li>
      </ul>
    </div>
    <div class="col social">
      <h1>Social</h1>
      <ul>
        <li><img src="https://svgshare.com/i/H5y.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" width="32" style="width: 32px;"></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1024px-WhatsApp.svg.png" width="32" style="width: 32px;"></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/fr/c/c8/Twitter_Bird.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1024px-Telegram_logo.svg.png" width="32" style="width: 32px;"></li>
        </ul>
    </div>

    <div class="col">
      <h1>Info</h1>
      <ul>
        <li>Note Legali & Privacy | Info Cookies</li>
        <li>Sede legale: Viale La Playa 15, 09123 Cagliari</li>
        <li>P.I. 02468516546</li>
      </ul>
    </div>
      

    
    
  <div class="clearfix"></div>
  </div>
</div>
  <!-- END OF FOOTER -->
  </footer>
