.weather-icon {
  padding: 0;
}

.weather-icon > img {
  width: 50px;
}

div .rounded-circle {
  width: 30px;
  height: 30px;
}

div .rounded-circle p {
  padding-top: 2px;
  color: white;
  font-weight: bold;
}

.table-element:hover {
  background-color: lightblue;
}

.cursor-pointer {
  cursor: pointer;
}

.container{
  background-color: white;
}

.background{
height: 250px;
color: white;
background: url(https://siviaggia.files.wordpress.com/2016/07/chia-sardegna-mare-piu-bello-guida-blu-t.jpg) no-repeat;

background-size: cover;
background-attachment: fixed;
background-position: center;
}

#newButton{
  float: left;
  margin-top: 13px;
  margin-left: 10px;
}

#titolo{
  float: right;
  margin-top: 10px;
}