.weather-icon {
  padding: 0;
}

.weather-icon > img {
  width: 50px;
}

div .rounded-circle {
  width: 30px;
  height: 30px;
}


  



div .rounded-circle p {
  padding-top: 2px;
  color: white;
  font-weight: bold;
}

.table-element:hover {
  background-color: lightblue;
}
.card {
        margin: 40px auto; /* Added */
        float: none;
        margin-bottom: 20px; /* Added */
        margin-left: 400 px;
}
.cursor-pointer {
  cursor: pointer;
}

.container{
  background-color: white;
}

.background{
height: 250px;
background-color: white;
background: url(https://siviaggia.files.wordpress.com/2016/07/chia-sardegna-mare-piu-bello-guida-blu-t.jpg) no-repeat;

background-size: cover;
background-attachment: fixed;
background-position: center;
}

#newButton{
  float: left;
  margin-top: 13px;
  margin-left: 10px;
}

#titolo{
  float: center;
  margin-top: 10px;
}

.container{
  width: 100%;
}

.navbar-brand{
  width: 1350px;
  left: 15px;
  font-size: 50px;

}
.p{
  font-size: 20px;
}

.nav-item{
  font-size: 20px;
}


.footer .col {
  width: 200px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 15px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color:grey;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color:grey;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 20px !important;
}

.footer .col ul li:hover {
  color:rgb(103, 187, 235) ;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
img.centered-and-cropped{
  object-fit: cover;
  width: 100px;
  height: 100px;
}