.weather-icon {
  width: 50px;
  height: 50px;
}

div .rounded-circle {
  width: 25px;
  height: 25px;
}

div .rounded-circle p {
  margin-left: 3px;
  color: white;
  font-weight: bold;
}

img {
  border-radius: 5px;
}
