.weather-icon {
  width: 50px;
  height: 50px;
}

div .rounded-circle {
  width: 25px;
  height: 25px;
}

div .rounded-circle p {
  margin-left: 3px;
  color: white;
  font-weight: bold;
}

img {
  border-radius: 5px;
}

#map{
  width: 100%;
  height: 500px;
  padding-left: 5%;
  padding-right: 5%;
}

#goMap{
  float: right;
  padding-right: 10px;
}

#gMaps{
  float: right;
  margin-right: 10px;
}

#edit{
  float: left;
}

#delete{
  float: left;
}
