<div class="container"  style="padding-top: 30px;">

  <div class="row col-mx-auto">
    <div class="card w-100">
      <div class="card-header">
        <h1>
          <a [routerLink]="['../../list']" class="mr-3">
            <i class="fas fa-arrow-left" aria-hidden="true"></i>
          </a>
          {{ beach.name }} - {{beach.city}} ({{beach.province}})
        </h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <img [src]="beach.photo" alt="Spiaggia di {{beach.name}}" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div id="map" class="map"></div>
            <input id="goMap" class="btn btn-primary text-right mt-2" type="button" (click)="setCenter()" value="Riposiziona">
          </div>
          

          <div class="row my-3">
            <div class="col ml-4"><b>Meteo</b><img class="weather-icon ml-2" [src]="beach.weatherIcon"/></div>
<!--            <div class="mb-3"><b class="mr-2">Traffico</b>-->
<!--              <div class="rounded-circle d-inline-block {{getTrafficClass(beach.traffic)}}"><p>{{beach.traffic}}</p></div>-->
<!--            </div>-->
            <div class="col mt-3"><b class="mr-2">Orientamento:</b>{{ beach.orientation }}</div>
            <div class="col mt-3"><b class="mr-2">Posizione (lat, long): </b>{{beach.latitude}}, {{beach.longitude}}</div>
          
          <div class="col mt-3" ><b class="mr-4">Tipo di spiaggia:</b>{{getBeachType(beach.beach_type)}}</div>
          </div> 
          
          <div class="col-md-12 my-3">
            <h3>Altre info e servizi:</h3>
          
           <!-- <span class="mr-2"><i class="mr-1 fas {{getInfoClass(beach.summer_crowding)}}"></i>Affollamento estivo</span> -->
            <!--span class="mr-2"><i class="mr-1 fas fa-dog {{getEnabledClass(beach.dogs_allowed)}}" title="{{beach.dogs_allowed ? 'Cani ammessi' : 'Cani non ammess'}}"></i>{{beach.dogs_allowed ? 'Cani ammessi' : 'Cani non ammessi'}}</!--span-->
            <span class="mr-2">
              <span class="mr-1 fa-stack fa-1x">
                <i class="fas fa-dog fa-stack-2x {{getEnabledClass(beach.dogs_allowed)}}" title="{{beach.dogs_allowed ? 'Cani ammessi' : 'Cani non ammessi'}}"></i>
                <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.dogs_allowed" title="{{beach.dogs_allowed ? 'Cani ammessi' : 'Cani non ammessi'}}"></i>
              </span> 
            </span>
            <span class="mr-2">
              <span class="mr-1 fa-stack fa-1x">
                <i class="fas fa-medkit fa-stack-2x {{getEnabledClass(beach.first_aid)}}" title="{{beach.first_aid ? 'Kit primo soccorso presente' : 'Kit primo soccorso non presente'}}"></i>
                <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.first_aid" title="{{beach.first_aid ? 'Kit primo soccorso presente' : 'Kit primo soccorso non presente'}}"></i>
              </span>
            </span>
            <span class="mr-2">
              <span class="mr-1 fa-stack fa-1x">
                <i class="fas fa-wifi fa-stack-2x {{getEnabledClass(beach.wifi)}}" title="{{beach.wifi ? 'Wi-Fi disponibile ' : 'Wi-Fi non disponibile'}}"></i>
                <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.wifi" title="{{beach.wifi ? 'Wi-Fi disponibile' : 'Wi-Fi non disponibile'}}"></i>
              </span>
            </span>
            <span class="mr-2">
              <span class="mr-1 fa-stack fa-1x">
                <i class="fas fa-parking fa-stack-2x {{getEnabledClass(beach.park)}}" title="{{beach.park ? 'Parcheggio custodito presente' : 'Assenza parcheggio custodito'}}"></i>
                <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.park" title="{{beach.park ? 'Parcheggio custodito presente' : 'Assenza parcheggio custodito'}}"></i>
              </span> 
            </span>
            <span class="mr-2">
              <span class="mr-1 fa-stack fa-1x">
                <i class="fab fa-accessible-icon fa-stack-2x {{getEnabledClass(beach.disabled_access)}}" title="{{beach.disabled_access? 'Pedana per accesso in spiaggia ai diversamenti abili' : 'Assenza pedana per accesso in spiaggia ai diversamenti abili'}}"></i>
                <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.disabled_access" title="{{beach.disabled_access ? 'Pedana per accesso in spiaggia ai diversamenti abili' : 'Assenza pedana per accesso in spiaggia ai diversamenti abili'}}"></i>
              </span> 
            </span>
            <span class="mr-2">
              <span class="mr-1 fa-stack fa-1x">
                <i class="fas fa-utensils fa-stack-2x {{getEnabledClass(beach.food_service)}}" title="{{beach.food_service? 'Presenza di ristoranti' : 'Assenza di ristoranti'}}"></i>
                <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.food_service" title="{{beach.food_service ? 'Presenza di ristoranti' : 'Assenza di ristoranti'}}"></i>
              </span> 
              </span>
              <span class="mr-2">
                <span class="mr-1 fa-stack fa-1x">
                  <i class="fas fa-life-ring  fa-stack-2x {{getEnabledClass(beach.lifeguard)}}" title="{{beach.lifeguard? 'Servizio di salvataggio in mare' : 'Assenza di bagnino'}}"></i>
                  <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.lifeguard" title="{{beach.lifeguard ? 'Servizio di salvataggio in mare' : 'Assenza di bagnino'}}"></i>
                </span> 
                </span>
                <span class="mr-2">
                <span class="mr-1 fa-stack fa-1x">
                  <i class= "fas fa-store-alt fa-stack-2x {{getEnabledClass(beach.tobacconist)}}" title="{{beach. tobacconist? 'Negozio di merchandising e tabacchi' : 'Nessun negozio di merchandising e tabacchi'}}"></i>
                  <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach. tobacconist" title="{{beach. tobacconist ? 'Negozio di merchandising e tabacchi' : 'Nessun negozio di merchandising e tabacchi'}}"></i>
                </span> 
              </span>
              <span class="mr-2">
                <span class="mr-1 fa-stack fa-1x">
                  <i class="fas fa-users fa-stack-2x {{getEnabledClass(beach.summer_crowding)}}" title="{{beach.summer_crowding? 'Spaggia affollata' : 'Spaggia affollata'}}"></i>
                  <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.summer_crowding" title="{{beach.summer_crowding ? 'Spaggia affollata' : 'Spaggia non affollata'}}"></i>
                </span> 
              </span>
              <span class="mr-2">
                <span class="mr-1 fa-stack fa-1x">
                  <i class="fas fa-umbrella-beach fa-stack-2x {{getEnabledClass(beach.sunbed_umbrella)}}" title="{{beach.sunbed_umbrella? 'Possibilità di affittare ombrelloni e lettini' : 'Non è possibile affittare ombrelloni e lettini'}}"></i>
                  <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.sunbed_umbrella" title="{{beach.sunbed_umbrella ? 'Possibilità di affittare ombrelloni e lettini' : 'Non è possibile affittare ombrelloni e lettini'}}"></i>
                </span> 
              </span>
              <span class="mr-2">
                <span class="mr-1 fa-stack fa-1x">
                  <i class="fas fa-toilet fa-stack-2x {{getEnabledClass(beach.toilet)}}" title="{{beach.toilet? 'Servizi igienici gratuiti' : 'Assenza servizi igienici gratuiti'}}"></i>
                  <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.toilet" title="{{beach.toilet ? 'Servizi igienici gratuiti' : 'Assenza servizi igienici gratuiti'}}"></i>
                </span> 
              </span>
             
              <span class="mr-2">
              <span class="mr-1 fa-stack fa-1x">
                <i class="fas fa-shower fa-stack-2x {{getEnabledClass(beach.showers)}}" title="{{beach.showers? 'Presenza docce calde/fredde' : 'Assenza docce'}}"></i>
                <i class="fas fa-ban fa-stack-2x text-danger" *ngIf="!beach.showers" title="{{beach.showers ? 'Presenza docce calde/fredde' : 'Assenza docce'}}"></i>
              </span> 
            </span>
      </div>

    </div>         
      </div>
    </div>         
      
        
        
        
        

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0 text-center">
              <button class="btn btn-outline-primary" type="button" id="mapsButton" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Indicazioni Stradali
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d1562875.8516499593!2d8.045915435458591!3d40.086744494922385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d39.219286!2d9.0989074!4m3!3m2!1d40.960499999999996!2d9.58081!5e0!3m2!1sit!2sit!4v1577720297699!5m2!1sit!2sit" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>   -->
             <!-- questa è la prova fatta da me<iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDBl453JPQafg3ImRdNI01PYkxRrzVSDQw&origin=Oslo+Norway&destination={{beach.name}}">
              
              width="100%" 
              height="500px"
               frameborder="0" 
               style="border:0";
               allowfullscreen="";
              API KEY NUOVA AIzaSyDBl453JPQafg3ImRdNI01PYkxRrzVSDQw 
             </iframe> -->
             <iframe [src]="mapDestinationUrl"   width="600"
             height="450"
             frameborder="0" style="border:0"
             allowfullscreen></iframe>
           
            </div>
          </div>
        </div>



      </div>


        <div class="accordion" id="accordionAdmin">
          <div class="card">
            <div class="card-header" id="headingAdmin">
              <h2 class="mb-3 text-right">
                <button class="btn btn-outline-primary" type="button" id="admin" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
                  Area amministrazione
                </button>
              </h2>
            </div>
        
            <div id="collapseAdmin" class="collapse" aria-labelledby="headingAdmin" data-parent="#accordionAdmin">
              <div class="card-body">
                <!-- <div class="card-footer text-right"> -->
            <!-- <a class="btn btn-primary" id="gMaps" href="https://www.google.com/maps/dir/?api=1&destination={{beach.latitude}},{{beach.longitude}}" role="button">Indicazioni Stradali</a> -->
              <a [routerLink]="['../../edit', beach.id]" id="edit" class="btn btn-success">EDIT</a>
              <button class="btn btn-danger ml-2 mb-3" type="submit" id="delete" (click)="deleteBeach(beach.id)">DELETE</button>
            </div>
          

      
    </div>
  </div>
        </div>



  
  
  
  
  
      